
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    color: white;
    height: 100vh;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}
p{
    margin-top: 16px;
    padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: wheat;
    margin-right: 16px;
    text-decoration: none;
}

button{
    cursor: pointer;
}